@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body { @apply antialiased; }
  ::-webkit-scrollbar { width: 4px; }
  ::-webkit-scrollbar-track { background: #0A1020; }
  ::-webkit-scrollbar-thumb { background: #1E293B; border-radius: 2px; }
}
